[submodule "modules/pacbuild"]
	path = modules/pacbuild
	url = https://github.com/omailson/pacbuild.git
[submodule "modules/git-backup"]
	path = modules/git-backup
	url = https://github.com/omailson/git-backup.git
[submodule "modules/goto-folder"]
	path = modules/goto-folder
	url = https://github.com/omailson/goto-folder.git
