[submodule "modules/pacbuild"]
	path = modules/pacbuild
	url = https://github.com/omailson/pacbuild.git
[submodule "modules/git-backup"]
	path = modules/git-backup
	url = https://github.com/omailson/git-backup.git
[submodule "modules/goto-folder"]
	path = modules/goto-folder
	url = https://github.com/omailson/goto-folder.git
[submodule "modules/runcached"]
	path = modules/runcached
	url = https://gist.github.com/c7971a0f3d7a3b9fdb71c5621c8e41c5.git
