# Qt 5 SDK
export QTSDKPATH="/home/mailson/builds-qt/qt5"
export QTSRC=$HOME/sources/qt5
export JOBS=90

# changemac
# NAME aa:bb:cc:dd
export MAC_FILE="/path/to/macs"

# Phabricator
export PHABRICATOR_PATH=/path/to/phabricator
export PHABRICATOR_BOT=$PHABRICATOR_PATH/phabricator/irc.json

# NodeJS
export NODE_PATH="/usr/lib/node_modules/"

# goto-dev
export GOTOFOLDER_SCRIPT_PATH_DEV="/home/mailson/dev/goto-folder"

# vim:ft=sh
